<footer class="site-footer fixed-bottom" style="background-color: blanchedalmond">

  <div class="container">

    <div class="footer-col-wrapper">

      
      <div class="row">
        <div class="col-lg-2"></div>


      <div class="col-1g-2 vertical-line" style="text-align:center">
      
        <ul class="contact-list">
          <li>   
              Denisa Lampášová           
          </li>
          <li>
            <a href="mailto:denda@fks.sk"><span class="glyphicon glyphicon-envelope"></span>denda@fks.sk</a>
          </li>
        </ul>
      
      </div>

      <div class="col-lg-6 border-left" style="text-align:center">
        <p>{{site.description}}</p>
      </div>
        <div class="col-lg-2"></div>
    </div>
    </div>

  </div>

</footer>
