<footer class="site-footer fixed-bottom" style="background-color: blanchedalmond">

  <div class="container">

    <div class="footer-col-wrapper">

      
      <div class="row">
        <div class="col-md-1"></div>
      
        <ul class="contact-list" style="margin-right: -1%">
          <li>   
              Denisa Lampášová           
          </li>
          <li>
            <a href="mailto:denda@fks.sk"><span class="glyphicon glyphicon-envelope"></span>denda.lampasova@gmail.com</a>
          </li>
        </ul>
      
      <div class="vertical-line" style="height: : 1%; margin-bottom: 0.8%; margin-top: -1%"></div>

      <div class="col-lg-6" style="text-align:center; margin-left: 1%">
        <p>Whatever has brought you to this page I hope, you will find here what you're looking for (otherwise send me an e-mail).</p>
      </div>
        <div class="col-lg-2"></div>
    </div>
    </div>

  </div>

</footer>